.btn-text {
  font-size: $default-font;
  color: $lightGreen;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid $lightGreen;
  padding: 3px;
  cursor: pointer;

  &:hover {
    background-color: $lightGreen;
    color: $mainWhite;
    box-shadow: 0 1rem 2rem rgba($darkText, 0.2);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0.5rem 2rem rgba($darkText, 0.2);
    transform: translateY(-2px);
  }
}
