.header-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $lightGreen, $darkGreen);
    -webkit-background-clip: text;
    color: transparent;

    &:hover {
      transform: skewY(2deg) skewY(2deg);
      text-shadow: 0.5rem 1rem 3rem rgba($darkText, 0.4);
    }
  }

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}