.u-text-center {
  text-align: center;
}
.u-margin-bottom-lg {
  margin-bottom: 8rem;
  @media(max-width:$tabPortrait){
    margin-bottom: 3.5rem; 
  }
}
.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-md {
  margin-bottom: 3.8rem;
}
.u-margin-top-sm {
  margin-top: 2rem;
}
